#footer{
    background: #3D248A;
}

.section-f{
    height: 322px;
    width: 100%;
    background: #3D248A;
}

.section-f{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.la2{
    img{
        width: 394.95px;
        height: 261.03px;
    }
}
